<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | Asthma Safe Environment</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 <nav>
  <h1>Asthma Safety</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/predict">Predict</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

  <section class="hero">
    <h2>About the Project</h2>
    <p>
      The <b>Asthma Safe Environment Prediction</b> project aims to identify environmental 
      conditions that are safe for asthma-prone individuals. It uses machine learning to 
      predict risk levels based on temperature, humidity, air quality, and pollution data.
    </p>
  </section>
  
</body>
</html>