<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><center>Asthma Safe Environment</center></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Navbar -->
<nav>
  <h1>Asthma safe environment</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/predict">Predict</a></li>
     <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

  <!-- Center Content -->
  <div class="center-text">
    <section class="hero" style="background-image: url('/static/image/astma.png');"></section>
    <h1><center>Asthma Safe Environment Prediction</center></h1>
    <p><center>Using Machine Learning to protect health</center></p>
    <section class="center-section">
    <a href="/predict" class="btn">Start</a>
</section>
</a>
  </div>

</section>

</body>
</html>